################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/professionalprofile.slnx/FileContentIndex/0a245a55-f2ae-4d8e-bf25-aa11747d6f5b.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/555b00cc-435d-4f97-a2ac-8685c0d7820f.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/6a55d4af-338e-4a69-ab3c-8df8f943d90f.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/014082df-9211-4a5f-a97a-1ba338cb87d1.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/640684ec-9059-4615-845c-88812eec939f.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/55fe95ce-6063-4a04-8182-9f4c31f2f5a3.vsidx
/.vs/professionalprofile.slnx/FileContentIndex/0bf22ae1-44ed-49a3-8735-fe0557d54117.vsidx
